.burger {
  width: calc(100% - 40px);
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid var(--secondary-color);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px var(--secondary-color);
}

@media (min-width: 1000px) and (min-height: 700px) {
  .burger {
    width: 450px;
    height: 400px;
    margin: auto;
  }
}


@media (min-width: 500px) and (min-height: 400px) {
  .burger {
    width: 300px;
    height: 250px;
    margin: auto;
  }
}