.ContactData {
  text-align: center; 
  background-color: var(--secondary-color);
  padding: 10px;
  width: 100%;
}

.ContactData h4 {
  color: var(--text-color);
}

.ContactData input {
  display: block;
  margin: 10px auto;
}
