.Input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Label {
  font-weight: bold;
  display: block;
}

.InputElement {
  border: 1px solid #ccc;
  background-color: var(--white-color);
  font: inherit;
  padding: 10px 20px;
  width: 300px;
  margin: 10px auto;
  transition: ease-in-out all 0.3s;
}

.Invalid {
  color: var(--text-color);
  background-color: var(--primary-color);
}

.SelectElement {
  border: 1px solid #ccc;
  background-color: var(--white-color);
  font: inherit;
  width: 300px;
  margin: 10px auto;
}